/* Achievements Section */
.achievements-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #000000;
    color: #00ffff;
}

/* .achievements-header {
    margin-bottom: 20px;
} */

.achievements-header {
    font-size: 1.5em;
    font-weight: bold;
}

.achievements-header h3 {
    font-size: 36px;
    color: #00ffff;
    margin: 10px 0;
}

.achievements-header p {
    color: #A9A9A9;
    font-size: 1rem;
    margin: 10px 10px;
    font-weight: 100
}

.achievements-video-section {
    position: relative;
    margin: 20px 0;
    padding: 15px;
    background-color: #121212;
    border-radius: 20px;
    box-shadow: 0 0 15px 5px rgba(6, 221, 232, 0.6), 0 0 25px 10px rgba(6, 221, 232, 0.4);
    /* Adding a glowing aqua gradient box-shadow */
    background: black  /*linear-gradient(135deg, rgba(6, 221, 232, 0.6), rgba(0, 255, 255, 0.3)); */
}

.achievements-video-section video {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    outline: none;
}

.achievements-video-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(135deg, #3cb6e7, aqua);
    border-radius: 10px;
    filter: blur(20px);
}

.achievements-footer {
    text-align: center;
    margin-top: 30px;
}

.achievements-footer a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #1bd0d0;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 16px;
}

.achievements-footer a:hover {
    background-color: #11939c;
}

/* Blog Section */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #00ffff; 
  }
  
.blog-section {
    background-color: #000;
    color: #00ffff;
    padding: 50px;
    text-align: center;
  }
  
  .blog-header h3 {
    color: #00ffff;
    font-size: 20px;
    margin: 0;
    text-align: center;
  }
  
  .blog-header h2 {
    /* color: #fff; */
    font-size: 36px;
    margin: 10px 0;
  }


  
  .blog-header p {
    color: #a9a9a9;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .blog-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  
  .blog-card {
    background-color: #121212;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    text-align: center;
  }
  
  .blog-image {
    background-color: #333;
    height: 200px;
    border-radius: 5px;
  }
  
  .blog-meta {
    margin-top: 20px;
    color: #a9a9a9;
    font-size: 14px;
  }
  
  .blog-card h4 {
    color: #fff;
    font-size: 20px;
    margin: 10px 0;
  }
  
  .blog-card p {
    color: #a9a9a9;
    font-size: 14px;
    margin: 10px 0;
  }
  
  .blog-card a {
    color: #00ffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }
  
  .blog-footer {
    margin-top: 40px;
  }
  
  .blog-footer button {
    background-color: #1bd0d0;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
  }

  .blog-footer button:hover {
    background-color:  #11939c;
  }
  