<%- include("includes/head.ejs") %>

    <body>
        <!-- Shown when a requested IG-style profile is not found in data.json -->
        <h1>No such account exits</h1>

        <%- include("includes/footer.ejs") %>
    </body>

    </html>