<%- include("includes/head.ejs") %>

    <body>
        <!-- Static title content for the demo home page -->
        <h1>This is the home page 1 * 2</h1>

        <%# Example EJS inline expression: pick the second greeting ("bonjour") %>
            <h3>
                <%= ["hello","bonjour","namaste"][1] %>
            </h3>

            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur sapiente, ducimus temporibus harum
                saepe ut perferendis illo placeat amet? Odit tenetur praesentium necessitatibus dolorum assumenda odio
                error ex. Tempore, nihil!
            </p>
            <button>click me</button>
    </body>

    </html>